/projet-env
/projet-venv
/fichierTeste
/*/*/__pycache__
/*/__pycache__
/__pycache__
/.eggs
/build
/dist
/*.spec
/temp
/temp222

/*/*.mp4
/*.mp4
/*.mp3
.DS_Store
/*.wav
/*/*.wav
#fichier test
/*.py
/*.json 
/.idea
/.ipynb_checkpoints


